.body{
    margin: 0;
}
#welcomeStuff{
    text-align: center;
}
#startButton{
    margin: auto;
    display: block;
}
#mainCont{
    border: 1px solid red;
}
.cardDivs{
    height: 33%;
    width: 31%;
    /*content: url("../Images/texture.jpg");*/
    padding: 0;
    margin: 1%;
}
.cardDivs:hover{
    cursor: pointer;
}
