.body{
    margin: 0;
}
#mainCont{
    height: auto;
    width: auto;
    border: 1px solid red;
}
.cardDivs{
    height: 200px;
    width: 150px;
    background-image: url("../Images/texture.jpg");
    padding: 0;
    margin: 30px;
    display: inline;
}