.body{
    margin: 0;
}
#mainCont{
    /*height: auto;*/
    /*width: auto;*/
    /*border: 1px solid red;*/
}
.cardDivs{
    height: 33%;
    width: 25%;
    content: url("../Images/texture.jpg");
    padding: 0;
    margin: 30px;
    /*display: inline;*/
}